

# dependencies
node_modules

# production
build

# misc
.DS_Store
npm-debug.log
yarn-error.log
.yarn-cache
.env
.assets
bin
*.tar.gz
rev
data
storage
!module/storage
.cover
dist
!assets/dist
test.pem
release/
